ul.nav li a {
   color:white;
}

nav > li > a:focus, .nav > li > a:hover{
   background-color: #7109f6;
   color: #f0f0f0;
}

navbar-toggle {
   border: 1px solid white;

}
.navbar-toggle .icon-bar+.icon-bar {
    background-color: white;
}

.navbar-toggle .icon-bar {
   background-color: white;
}

.mi_barra {
  background-color: #7109f6;
  color: white;
  text-decoration: none;
}

.logo_barra {
  font-family: 'Pacifico', cursive;
  color: white;
}

.reproductor{
  padding-top: 50px;
}

.thumbnail {
  padding: 10px;
}

.h1_titulo {
  font-size: 70px;
}

.parrafo {
  font-family:"Roboto";
  ont-style: normal;
  font-weight: 300;
  padding: 50px;
}

.jumbotron {
  font-family: 'Pacifico', cursive;
  background-position: center;
  background-color: #57f58d;
  text-align: center;
  color: white;
}

.bloque_noticias{
  margin-top: 20px;
}

.panel_footer {
  background-color: #fec704;
  color:white;
  margin-top: -30px;
}

.featured {
  width: 600px;
  height: auto;
  display: block;
  margin: auto;
}

.gallery {
  margin-top: 20px;
  text-align: center;
}

.thumb {
  width: 150px;
  height: 100px;
}

#iz{
  text-decoration:none;
  cursor: pointer;
}

#der{
  position: relative;
  float: right;
  margin-right: 23%;
  text-decoration:none;
  cursor: pointer;
}

.imagen_noticia{
  display: inline-block;
  width: 20%;
  margin-left: 7%;
}

.parrafo1 {
  display: inline-block;
  width: 60%;
  margin-left: 1%;
  vertical-align: top;
  text-align: justify;
}

.reproductor_noticia{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 102px;
  width: 100%;
}

.reproductor_programacion{
  width: 300px;
  height: 100px;
  position: inherit;
  float: right;
  margin: 61px;
}

@media screen and (max-width:500px) {
#myCarousel{
    display:none!important
}
.parrafo1 {
  width: 100%;
}
.imagen_noticia{
  width: 90%;
  margin: 1%;
}
}

@media ( min-width:501px){
  @media (max-width:1000px) {

.imagen_noticia{
  width: 30%;
  margin: 1%;
  margin-left: 5%;
}
}
}
