ul.nav li a {
   color:white;
}

nav > li > a:focus, .nav > li > a:hover{
   background-color: #7109f6;
   color: #f0f0f0;
}

navbar-toggle {
   border: 1px solid white;

}
.navbar-toggle .icon-bar+.icon-bar {
    background-color: white;
}

.navbar-toggle .icon-bar {
   background-color: white;
}

.mi_barra {
  background-color: #7109f6;
  color: white;
  text-decoration: none;
}

.logo_barra {
  font-family: 'Pacifico', cursive;
  color: white;
}

.reproductor{
  padding-top: 50px;
}

.thumbnail {
  padding: 10px;

}
.h1_titulo {
  font-size: 70px;
}

.parrafo {
  font-family:"Roboto";
  ont-style: normal;
  font-weight: 300;
  padding: 50px;
}

.jumbotron {
  font-family: 'Pacifico', cursive;
  background-position: center;
  background-color: #57f58d;
  text-align: center;
  color: white;
}

.bloque_noticias{
  margin-top: 20px;
}

.panel_footer {
  background-color: #fec704;
  color:white;
  margin-top: -30px;
}

@media(max-width:500px) {
/* Joomla Category Blog Pagination Hide */
#myCarousel{
    display:none!important
}
}
